<%- include('partials/header') -%>

<div class="container mt-5">
    <%- include('partials/messages') -%>
    <h5>Berths -96 & 98 start SH - "in" and from berth "out"</h5>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Battery</th>
                <th>pred_ft</th>
                <th>Start SH op</th>
                <th>Start SH cl</th>
                <th>Sail berth o</th>
                <th>Sail b cl</th>
                
            </tr>
        </thead>
        <tfoot>
            <tr>
                    <th>Date</th>
                    <th>Day</th>
                    <th>Battery</th>
                    <th>pred_ft</th>
                    <th>Start SH op</th>
                    <th>Start SH cl</th>
                    <th>Sail berth o</th>
                    <th>Sail b cl</th>

            </tr>
        </tfoot>
        <tbody>
            <% tides.forEach((tide)=> { %>
                    <tr>
                        <td><%= tide.date %></td>
                        <td><%= tide.day %></td>
                        <td><%= tide.battery %></td>
                        <td><%= tide.pred_ft %></td>
                        <td class="thick"><%= tide.start_SH_o %></td>
                        <td ><%= tide.start_SH_cl %></td>
                        <td class="thick"><%= tide.start_b_o %></td>
                        <td ><%= tide.start_b_c %></td>
                      

                        <!-- <td>
                            <a class="btn btn-primary" href="/edit/<%= tide.id %>">Edit</a>
                            <form style="display: inline;" action="/delete/<%= tide.id %>?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                            </form>
                        </td> -->
                    </tr>
               <% }) %>
                

            </tbody>
        </table>
    </div>
<%- include('partials/footer') -%>