<%- include('partials/header') -%>

<div class="container mt-5">
    <%- include('partials/messages') -%>
    <h5>SULCV Start windows from SH to NWK and ELZ and sail window from berths.</h5>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Battery_time</th>
                <th>Pred_ft</th>
                <th>SH_open</th>
                <th>SH_close</th>
                <th>Berth_open</th>
                <th>Berth_close</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Battery_time</th>
                <th>Pred_ft</th>
                <th>SH_open</th>
                <th>SH_close</th>
                <th>Berth_open</th>
                <th>Berth_close</th>
            </tr>
        </tfoot>
        <tbody>
            <% tides.forEach((tide)=> { %>
                    <tr>
                        <td><%= tide.date %></td>
                        <td><%= tide.day %></td>
                        <td><%= tide.battery %></td>
                        <td><%= tide.pred_ft %></td>
                        <td class="thick"><%= tide.sh_st_o %></td>
                        <td ><%= tide.sh_st_c %></td>
                        <td class="thick"><%= tide.b_st_o %></td>
                        <td ><%= tide.b_st_c %></td>
                        <!-- <td>
                            <a class="btn btn-primary" href="/edit/<%= tide.id %>">Edit</a>
                            <form style="display: inline;" action="/delete/<%= tide.id %>?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                            </form>
                        </td> -->
                    </tr>
               <% }) %>
                

            </tbody>
        </table>
    </div>
<%- include('partials/footer') -%>