<%- include('partials/header') -%>

<div class="container mt-5">
    <%- include('partials/messages') -%>
    <h5>Anchorage  Arriving above 40' draft  & or above 800' LOA </h5>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Date</th>
                <th>Day</th>
                <th>HWSH</th>
                <th>pre_ft</th>
             
                <th>Open</th>
                <th>Close</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                    <th>Date</th>
                    <th>Day</th>
                    <th>HWSH</th>
                    <th>pre_ft</th>
               
                    <th>Open</th>
                    <th>Close</th>
            </tr>
        </tfoot>
        <tbody>
            <% tides.forEach((tide)=> { %>
                    <tr>
                        <td><%= tide.date %></td>
                        <td><%= tide.day %></td>
                        <td><%= tide.hwsh %></td>
                        <td><%= tide.pred_ft %></td>
                        <td class="thick"><%= tide.windowOpen %></td>
                        <td ><%= tide.windowClose %></td>

                        <!-- <td>
                            <a class="btn btn-primary" href="/edit/<%= tide.id %>">Edit</a>
                            <form style="display: inline;" action="/delete/<%= tide.id %>?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                            </form>
                        </td> -->
                    </tr>
               <% }) %>
                

            </tbody>
        </table>
    </div>
<%- include('partials/footer') -%>