<%- include('partials/header') -%>

    <div class="container mt-5">
        <%- include('partials/messages') -%>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
              
                    <tr>
                        <th>Date</th>
                        <th>Day</th>
                        <th>Battery</th>
                        <th>pre_ft</th>
                        <th>H/L</th>
                        <th>S/W_Open</th>
                        <th>S/W_Close</th>
                        <th>N/W_Open</th>
                        <th>N/W_Close</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Date</th>
                        <th>Day</th>
                        <th>Battery</th>
                        <th>pre_ft</th>
                        <th>H/L</th>
                        <th>S/W_Open</th>
                        <th>S/W_Close</th>
                        <th>N/W_Open</th>
                        <th>N/W_Close</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% tides.forEach((tide)=> { %>
                        <tr>
                            <td>
                                <%= tide.date %>
                            </td>
                            <td>
                                <%= tide.day %>
                            </td>
                            <td>
                                <%= tide.tideTimeBattery %>
                            </td>
                            <td>
                                <%= tide.pred_ft %>
                            </td>
                            <td>
                                <%= tide.h_l %>
                            </td>
                            <td class="thick">
                                <%= tide.windowOpen1 %>
                            </td>
                            <td>
                                <%= tide.windowClose1 %>
                            </td>
                            <td class="thick">
                                <%= tide.windowOpen2 %>
                            </td>
                            <td>
                                <%= tide.windowClose2 %>
                            </td>
                            <!-- <td>
                            <a class="btn btn-primary" href="/edit/<%= tide.id %>">Edit</a>
                            <form style="display: inline;" action="/delete/<%= tide.id %>?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                            </form>
                        </td> -->
                        </tr>
                        <% }) %>


                </tbody>
            </table>
    </div>
    

    <%- include('partials/footer') -%>